<ul>
    <% for(var i=0; i<assets.length; i++) { %>
        <li>
            <a href='assets/<%= assets[i] %>'>
                <%= assets[i].property %>
            </a>
        </li>
    <% } %>
</ul>